{% extends "base.html" %}

{% block head %}
<title>@EmailGateBot text transformation</title>
{% endblock %}

{% block content %}

<h3>@EmailGateBot text transformation</h3>
<p>
<a href="/email/">Upload .eml file</a>
</p>

<form class="form-horizontal" role="form" action="" method="POST">

<div class="form-group">
<select name=codec class="form-control">
  {% for codec, label in codecs.items() %}
    <option value="{{codec}}" {% if loop.first %} SELECTED{% endif %}>{{ label }}</option>"
  {% endfor %}
</select>
</div>

<div class="form-group">
<div class="col-sm-3">
    <textarea class="form-control" rows="10" cols="40" name="source"></textarea>
</div>
</div>

<div class="form-group">
<div class="col-sm-2">
<input class="form-control btn btn-info" type="submit" value="Transform" />
</div>
</div>

</form>

{% endblock %}
