{% extends "base.html" %}

{% block head %}
<title>Email visualization</title>
{% endblock %}

{% block content %}

<h3>Select .eml file for upload</h3>

<form class="form-horizontal" role="form" action="{{upload_url}}" method="POST" enctype="multipart/form-data">

<div class="form-group">
<input type="file" name="emailbody" class="form-control">
</div>

<div class="form-group">
<div class="col-sm-2">
<input class="form-control btn btn-info" type="submit" value="Upload" />
</div>
</div>

</form>

{% endblock %}
